{% extends 'base.html' %}

{% block content %}
    <div class="container" style="height: 90vh;">
        <div class="row border border-3" style="height: 90vh;">
            <div class="col-3 px-0">
                <ul class="list-group">
                    {% for chat_room in chat_rooms %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold" style="cursor: pointer;" onclick="changeChatRoom('{{ chat_room.id }}')">{{ chat_room.name }}</div>
                            {% with last_message=chat_room.messages.last %}
                                {% if last_message %}
                                    {{ last_message.user.username }}: {{ last_message.message }}
                                {% endif %}
                            {% endwith %}
                        </div>
                        <span class="badge bg-primary rounded-pill">{{ chat_room.messages.all.count }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-9 bg-secondary px-0 border-top" style=" height: 100%; --bs-bg-opacity: .3;">
                {% for chat_room in chat_rooms %}
                    <div class="chat_room_messages_{{ chat_room.id }} h-100">
                        <div class="d-flex flex-column h-100 ">
                            <div class="bg-secondary p-2" style="--bs-bg-opacity: .4;">
                                <p>{{ chat_room.name }}</p>
                            </div>
                            <div class="messages h-100" style="height: 100%; overflow: scroll">
                                <div class="d-flex m-2">
                                    <div class="d-flex flex-column border rounded bg-white p-2">
                                        <span class="fs-6 fw-light">Brown</span>
                                        <span class="fs-5">Some message</span>
                                    </div>
                                </div>
                                <div class="d-flex m-2 justify-content-end">
                                    <div class="d-flex border rounded bg-white p-2">Some message</div>
                                </div>
                                {% for message in chat_room.messages.all %}
                                    <div class="d-flex m-2
                                    {% if message.sender == request.user %}justify-content-end{% endif %}">
                                        <div class="d-flex flex-column border rounded bg-white p-2">
                                            <span class="fs-6 fw-light">{{ message.user.username }}</span>
                                            <span class="fs-5">{{ message.message }}</span>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>

                            <div class="bg-white d-flex mt-auto p-2">
                                <button class="btn btn-outline-secondary me-2">
                                    <label for="message-file">
                                        <i class="bi bi-paperclip" id="clip"></i>
                                    </label>
                                    <input type="file" id="message-file" hidden>
                                </button>
                                <textarea rows="1" class="form-control me-2"></textarea>
                                <button room-id="{{ chat_room.id }}" class="btn btn-outline-primary send_message">
                                    <i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="send_file_modal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                    <div>
                        <img id="selected_image_in_modal" class="img-fluid" src="https://www.galeriadomow.pl/wizualizacja-do-projektu-dom-przy-modrzewiowej-14-widok-1,239.jpg" alt="Select image">
                    </div>
                    <div class="mb-3">
                        <label for="file-caption" class="col-form-label">Caption:</label>
                        <textarea class="form-control" rows="2" id="file-caption"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
                    <button type="button" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block script %}
    <script>

        const userId = {{ request.user.id }}

        function getChatRoomMessagesBlock(id){
            return $(`div[class*="chat_room_messages_${id}"]`)
        }

        let chatRoomBlocks = $('div[class*="chat_room_messages_"]')
        chatRoomBlocks.hide()

        $(chatRoomBlocks[0]).show()


        const chatUrl = 'ws://' + window.location.host + '/ws/chat'
        console.log(chatUrl)
        const chatSocket = new WebSocket(chatUrl);

        function addMessageToMessageBlock(
            senderIsUser,
            senderUsername,
            messageTextContent,
            chatRoomId
            ) {
            let messageBlock = $(`
                <div class="d-flex m-2">
                    <div class="d-flex flex-column border rounded bg-white p-2">
                        <span class="fs-6 fw-light">${senderUsername}</span>
                        <span class="fs-5">${messageTextContent}</span>
                    </div>
                </div>
            `);
            if (senderIsUser){
                messageBlock.addClass('justify-content-end')
            }

            getChatRoomMessagesBlock(chatRoomId).find('.messages').append(messageBlock)}

        function handleTextMessage(data) {
            console.log('handleTextMessage')
            let chatRoomId = data['room_id']
            let senderId = data['sender_id']
            let senderUsername = data['sender_username']
            let senderIsUser = (userId === senderId);
            let messageTextContent = data['message']
            console.log(userId, senderId,  (userId === senderId), typeof(userId), typeof(senderId))
            addMessageToMessageBlock(
                senderIsUser,
                senderUsername,
                messageTextContent,
                chatRoomId
            )
        }

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            handleTextMessage(data)
        }

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };



        $('.send_message').click(function () {
            let message = $(this).parent().find('textarea').val()
            let room_id = $(this).attr('room-id')
            let data = {
                'type': 'text_message',
                'room_id': room_id,
                'message': message
            }
            console.log(data)
            chatSocket.send(JSON.stringify(data))
        })

        function changeChatRoom(id) {
            let chatRoomToShow = getChatRoomMessagesBlock(id)
            chatRoomBlocks.hide()

            chatRoomToShow.show()
        }


        const sendFileModal = new bootstrap.Modal($('#send_file_modal')[0], {})
        let fileToSend;
        {#sendFileModal.show()#}

        function displayImage(input, targetImgElement) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    targetImgElement.attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $('#message-file').change(function (e) {
            console.log('file changed')
            sendFileModal.show()

            displayImage(this, $('#selected_image_in_modal'))

            fileToSend = e.target.files[0]
        })



        $('#clip').click(function () {
            let data = {
                'room_id': 2,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            }
            $.ajax({
                url: "{% url 'upload_file' %}",
                type: 'POST',
                data: data,
                success: function (response) {
                    console.log(response)
                },
                error: function (response) {
                    console.log(response)
                }
            })
        })

    </script>
{% endblock script %}
