{% extends 'base.html' %}

{% block content %}
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
      <div>
        {{ field.label_tag }}
        {{ field }}
      </div>
    {% endfor %}
    <button type="submit">Sign in</button>
  </form>
  <p>Don't have an account? <a href="{% url 'signup' %}">Sign up!</a></p>
{% endblock content %}
