{% extends 'base.html' %}

{% block content %}
    <h1>Sign Up</h1>
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        {{ form }}
    <button type="submit">Sign up</button>
    </form>
{% endblock %}